.toolbar-flex {
    flex: 2 1 auto;
  }
.navlinks-container{
  display: block;
  margin: 0 auto;
}
.navlinks-container a{
  color: rgb(3, 80, 167);
  font-size: 1rem;
}
.mat-tab-label-active {
  background-color: rgba(255, 0, 255, 0);
  color: rgb(3, 80, 167);
  opacity: 1;
}
.navlinks-container{
  background-color: rgba(60, 221, 7, 0.589);
}