.toolbar-flex {
    flex: 2 1 auto;
  }
.navlinks-container{
  display: block;
  margin: 0 auto;
}
.navlinks-container a{
  color: rgb(167, 93, 3);
  font-size: 1rem;
}
.mat-tab-label-active {
  background-color: rgba(255, 0, 255, 0);
  color: rgb(167, 93, 3);
  opacity: 1;
}
.navlinks-container{
  background-color: rgba(56, 245, 9, 0.589);
}